body {
    background-color: rgb(15, 48, 56);
}



header{
    border: 10px solid rgb(white,);
    padding: 10px;
    position: static;
    background-color: rgb(24, 77, 63);
}

.contenedorlogo{
    display: inline;
}
.logocafe{
    width: 15%;
}



div h1{
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine; 
    font-size: 295%;
}

div h3{
    color: aliceblue;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

article h1{
    color: aquamarine;
}

nav {
    display: inline;
}

#boton-acerca-de{
    padding: 10px;
    color: aqua;
    display: inline;
    font-family: monospace;
    font-size: x-large;
}

#boton-menu{
    padding: 10px;
    color: aqua;
    display: inline;
    font-family: monospace;
    font-size: x-large;
}

#boton-galeria{
    padding: 10px;
    color: aqua  ;
    display: inline;
    font-family: monospace;
    font-size: x-large;
}

#boton-ubicacion{
    padding: 10px;
    color: aqua;
    display: inline;
    font-family: monospace;
    font-size: x-large;
}

/** imagen de la pagina web**/

.acercade {
    width: 850px;
    height: 550px;
    margin: 25px;
    margin-left: 480px;
}


article {
    color: aliceblue;
    font-family: monospace;
    font-size: xx-large;
   text-align: justify;
}

section h3 {
    color: aquamarine;
    font-size: xx-large;

}

 .bebidas {
    color: aquamarine;
 }
    .categoria{
        color: rgb(238, 205, 97);
    }

    .nombre{
        color: rgb(36, 221, 235);
    }

    .desayuno{
        color: aquamarine;
        text-align: justify;
    }

    .sanduches{
        color: aquamarine;
        text-align: justify;
    }

    .bocadillos{
        color: aquamarine;
        text-align: justify;
    }

    /**estilo de la galeria**/

    .titulogaleria{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: aliceblue;
    }
  
.fotos{
    display: inline;
justify-content: left;

}

.foto1{
    width: 350px;
    height: 250px;
}
.foto2{
    width: 350px;
    height: 250px;
    margin: 25px;
}
.foto3{
    width: 350px;
    height: 250px;
}

.foto4{
    width: 350px;
    height: 250px;
    margin: 25px;
}
.foto5{
    width: 350px;
    height: 250px;
    
}
.foto6{
    width: 350px;
    height: 250px;
    margin: 25px;
}

.direccion{
    color: greenyellow;
    font-size: x-large;
}

.horarios{
    color: greenyellow;
    font-size: x-large;
}

.mapa{
    margin-left: 30%;
    
}
  
.copyright{
    border: purple;
    color: white;
    background-color: rgb(24, 77, 63);
    height: 30px;
    text-align: center;
    padding: 20px;
}
   